/* By default the width of block level elements is 100% */

body {
    min-height: 100vh;
}

h1 {
    border: 2px dashed #ff0000;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

p {
    font-size: 1.5rem;
    width: 40ch;
}