@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

ul {
    /* display: none; */
    list-style-type: none;
    /* border: 2px solid red; */
    padding: 2%;
    background-color: #cccbcb;
    text-align: right;
}

li {
    display: inline-block;
    /* background-color: yellow; */
    margin: 0.5%;
}

li a {
    text-decoration: none;
}

li a:hover, li a:focus {
    text-decoration: underline;
    /* opacity: 0.7; */
}



